@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Kurale';
  src: url('/assets/fonts/Kurale/Kurale-Regular.ttf') format('truetype');
} 

@font-face {
  font-family: 'Lora-Italic';
  src: url('/assets/fonts/Lora/Lora-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  src: url('/assets/fonts/Lora/Lora-VariableFont_wght.ttf') format('truetype');
}

@layer base {
  html {
    font-family: "Kurale", sans-serif;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body html {
  height: auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
